.bridal {
  padding: 20px;
  position: relative;
  text-align: center;
  padding-bottom: 0;
  margin-bottom: 20px;
}

.bridal .header-img {
  position: relative;
  text-align: center;
  border-radius: 25px;
  padding-bottom: 0;
}

.bridal .header-img img {
  border-radius: 25px;
  filter: brightness(0.7);
  height: 250px;
  /* opacity: 0.7; */
}

.bridal .header-img .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bridal .header-img .centered h1 {
  color: #fff;
  font-size: 35px;
  font-weight: 700;
}

.bridal-content .aside .aside-cate {
  border: 2px solid #ddd;
  border-radius: 17px;
  padding: 17px;
  margin-top: 10px;
}

.bridal-content .aside .aside-cate h6 {
  font-size: 15px;
  font-weight: 400;
  color: #242424;
  text-align: left;
  display: block;
  line-height: 32px;
  position: relative;
  padding-left: 12px;
}

.bridal-content .aside .aside-cate ul li {
  margin-right: 5px;
}

.bridal-content .aside .aside-cate ul li a {
  font-weight: 500;
  color: #242424;
  text-align: left;
  display: block;
  line-height: 32px;
  position: relative;

  font-size: 15px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

.bridal-content .aside .aside-cate ul li a::before {
  content: "\203A";
  color: #242424;
  font-size: 18px;
  margin: 0px 8px;
}

.bridal-content .aside .aside-cate ul li a::before:hover {
  color: #997f47;
  border-color: #997f47;
}

.bridal-content .aside .aside-cate ul li a:hover {
  color: #997f47;
  border-color: #997f47;
  padding-left: 5px;
}

.bridal-content .aside .aside-cate .sublist ul li {
  margin-right: 5px;
}

.bridal-content .aside .aside-cate .sublist ul li a {
  margin-left: 20px;
  font-weight: 400;
  color: #202020;
  text-align: left;
  display: block;
  line-height: 32px;
  position: relative;
  font-size: 15px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

.bridal-content .aside .aside-cate .sublist ul li a::before {
  content: "\002D";
  color: rgb(0, 0, 0);
  font-size: 18px;
  margin: 0px 8px;
}

.bridal-content .aside .aside-cate .sublist ul li a::before:hover {
  color: #997f47;
  border-color: #997f47;
}

.bridal-content .aside .aside-cate .sublist ul li a:hover {
  color: #997f47;
  border-color: #997f47;
  padding-left: 10px;
}

.bridal-content .aside .aside-tags {
  border: 2px solid #ddd;
  border-radius: 20px;
  padding: 17px;
}

.bridal-content .aside .aside-tags h6 {
  font-size: 15px;
  font-weight: 400;
  color: #242424;
  text-align: left;
  display: block;
  line-height: 32px;
  position: relative;
  /* padding-left: 12px; */
}

.bridal-content .aside .aside-tags ul {
  display: flex;
  flex-wrap: wrap;
}

.bridal-content .aside .aside-tags ul li {
  float: left;
  margin: 7px 14px;
}

.bridal-content .aside .aside-tags ul li a {
  font-weight: 500;
  color: #202020;
  text-align: left;
  display: block;
  line-height: 32px;
  position: relative;

  font-size: 15px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

.bridal-content .aside .aside-tags ul li a:hover {
  color: #997f47;
  border-color: #997f47;
}

.bridal-content .ved {
  width: 100%;
}

.bridal-content .ved video {
  width: 100%;
  border-radius: 20px;
  height: 350px;
  margin: 0px 10px;
}

.bridal-content .photoGal img {
  width: 250px;
  height: 250px;
  max-height: 250px;
  max-width: 250px;
  border-radius: 25px;
  margin: 14px;
  object-fit: cover;
}

.bridal-content .photoGal .item {
  transition: all 0.5s ease-in-out;
  transform: scale(1);
  position: relative;
}

.bridal-content .photoGal .item:hover {
  transform: scale(1.04);
}

.bridal-content .photoGal .item a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bridal-content .photoGal .item span {
  color: #242424;
  font-size: 15px;
  font-weight: 500;
  font-family: "PoppinsRegular";
}

@media (max-width: 991px) {
  .bridal-content .aside .aside-cate {
    padding: 10px;
  }

  .bridal-content .aside .aside-cate ul li a {
    font-size: 12px;
  }

  .bridal-content .photoGal img {
    width: 200px;
    height: 200px;
  }
}

@media (max-width: 767px) {
  .bridal {
    padding: 10px;
  }

  .bridal-content .aside .aside-cate {
    padding: 30px;
  }

  .bridal-content .aside .aside-cate ul li a {
    font-size: 17px;
  }

  .bridal .header-img .centered h1 {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
  }

  .bridal .header-img img {
    border-radius: 12px;
    height: 200px;
  }
}

@media (max-width: 552px) {
  .bridal {
    padding: 10px;
  }

  .bridal .header-img .centered h1 {
    font-size: 24px;
  }

  .bridal .header-img img {
    border-radius: 12px;
    height: 200px;
  }

  .bridal-content .aside .aside-cate {
    padding: 30px;
  }

  .bridal-content .aside .aside-cate ul li a {
    font-size: 17px;
  }

  .bridal-content .photoGal img {
    height: 350px;
    width: auto;
  }
}